#pane2 {
    position: absolute;
    z-index: 10;
    width: 50%;
    height: 10%;
    top: 0;
    left: 25%;
}

#StopGame {
    position: absolute;
    right: 0px;
    top: 0px;
    
}

#pressedInstructions {
     float: right;
     z-index: 11;
     position: relative;
     top: 20px;
     right: 60px;
}

#Instructions{
    font-size: 30px;
    
}

#box {
    background-image: url("img/nano.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 400px 200px;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 12%;
    border: 1px solid #000000; 
    z-index: 100;       
}

#pressed{
    z-index: 11;
    float: right;
    position: relative;
    bottom: 250px;
    right: 115px;
    
}
#displayPressed{
    font-size: 100px;
}

#generation{
    z-index: 11;
    float: left;
    position: relative;
    bottom: 250px;
    left: 115px;
    
}
#generationdisplay{
    font-size: 100px;
    
}

#score {
    z-index: 11;
    float: bottom;
    position: relative;
    left: 30%;
    
}
#scoredisplay{
    font-size: 50px;
}

#playGame {
    position: absolute;
    top: 0px;
    left: 0px;
}

#bg {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
    opacity: 0.7;
}

html, body {margin: 0; height: 100%;}



